{% extends "schemes/s0029/subs/s0029/base.html" %}

{% block content %}
{% include "schemes/s0029/subs/s0029/section5_form.html" %}

<div style="margin-bottom: 40px;">
    <table>
        <thead>
            <tr>
                <th rowspan="2" class="w-xs" style="text-align: center;">अ. क्र.</th>
                <th rowspan="2" class="w-md">लोगशिर्ष</th>
                {% if can_edit or not user_district %}
                {% for district in all_districts %}
                <th colspan="2" style="text-align: center;">{{ districts_mr[district] }}</th>
                {% endfor %}
                {% else %}
                <th colspan="2" style="text-align: center;">{{ districts_mr[user_district] }}</th>
                {% endif %}
            </tr>
            <tr>
                {% if can_edit or not user_district %}
                {% for district in all_districts %}
                <th class="w-sm nowrap" style="text-align: center;">जमा रकम</th>
                <th class="w-sm nowrap" style="text-align: center;">ताळमेळ रकम</th>
                {% endfor %}
                {% else %}
                <th class="w-sm nowrap" style="text-align: center;">जमा रकम</th>
                <th class="w-sm nowrap" style="text-align: center;">ताळमेळ रकम</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in summary_rows %}
            <tr>
                <td style="text-align: center;">{{ row.sr_no }}</td>
                <td style="text-align: center;">{{ row.section.code }}</td>
                {% if can_edit or not user_district %}
                {% for district in all_districts %}
                {% set district_key = district.lower().replace(' ', '_') %}
                <td style="text-align: center;">{{ "{:,.0f}".format(row.data[district_key].deposit) }}</td>
                <td style="text-align: center;">{{ "{:,.0f}".format(row.data[district_key].reconciliation) }}</td>
                {% endfor %}
                {% else %}
                {% set district_key = user_district.lower().replace(' ', '_') %}
                <td style="text-align: center;">{{ "{:,.0f}".format(row.data[district_key].deposit) }}</td>
                <td style="text-align: center;">{{ "{:,.0f}".format(row.data[district_key].reconciliation) }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr style="font-weight: 700; background: var(--panel-elevated);">
                <td style="text-align: center;" colspan="2">कोकण विभाग एकूण (1 ते {{ summary_rows|length }} बाबी)</td>
                {% if can_edit or not user_district %}
                {% for district in all_districts %}
                {% set district_key = district.lower().replace(' ', '_') %}
                <td style="text-align: center;">{{ "{:,.0f}".format(grand_totals[district_key].deposit) }}</td>
                <td style="text-align: center;">{{ "{:,.0f}".format(grand_totals[district_key].reconciliation) }}</td>
                {% endfor %}
                {% else %}
                {% set district_key = user_district.lower().replace(' ', '_') %}
                <td style="text-align: center;">{{ "{:,.0f}".format(grand_totals[district_key].deposit) }}</td>
                <td style="text-align: center;">{{ "{:,.0f}".format(grand_totals[district_key].reconciliation) }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
