annotated-types
anyio
click
fastapi
h11
idna
psycopg2-binary
pydantic
pydantic_core
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
jinja2
openpyxl
pandas
python-dotenv
langchain-community
langchain-openai
langchain-core
langchain
openai
python-multipart
passlib
bcrypt==4.0.1
# passlib
tiktoken
aiofiles
asyncpg
redis
gunicorn
brotli