{% extends "base.html" %}

{% block navigation_links %}
<a href="/ui/s2245/section1"
    class="nav-abstract-link {% if resource_name == '2245 नैसर्गिक आपत्ती निवारण - अर्थसंकल्पीय अंदाजपत्रक' or resource_name == '2245 नैसर्गिक आपत्ती निवारण - अर्थसंकल्पीय अंदाजपत्रक संपादन' %}active{% endif %}">अर्थसंकल्पीय अंदाजपत्रक</a>
<a href="/ui/s2245/section1/section2"
    class="nav-abstract-link {% if resource_name == '2245 नैसर्गिक आपत्ती निवारण - अर्थसंकल्पीय अंदाजपत्रक 2' %}active{% endif %}">अर्थसंकल्पीय अंदाजपत्रक 2</a>
<a href="/ui/s2245/section1/section3"
    class="nav-abstract-link {% if resource_name == '2245 नैसर्गिक आपत्ती निवारण - अर्थसंकल्पीय अंदाजपत्रक 3' %}active{% endif %}">अर्थसंकल्पीय अंदाजपत्रक 3</a>
{% endblock %}

